<template>
    <v-container fluid>
        <v-form>
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <input-component
                                label="Hall identifier"
                                :value="identifier"
                                @change="onIdentifierUpdated"
                        />
                    </v-col>
                </v-row>
            </v-container>
            <button-component @click="onCreate">
                Create
            </button-component>
        </v-form>
    </v-container>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import CreateHallPayload from "@/Domain/Space/Payload/CreateHallPayload";
    import ButtonComponent from "@/Infrastructure/Components/Common/ButtonComponent.vue";
    import InputComponent from "@/Infrastructure/Components/Common/InputComponent.vue";

    @Component({
        components: {InputComponent, ButtonComponent}
    })
    export default class CreateHallComponent extends Vue {
        @Prop() private createHallPayload!: CreateHallPayload;

        get identifier(): string {
            return this.createHallPayload.identifier;
        }

        onIdentifierUpdated(identifier: string): void {
            this.createHallPayload.identifier = identifier;
        }

        onCreate(): void {
            this.$emit('create', this.createHallPayload);
        }
    }
</script>
