<template>
    <v-container fluid>
        <v-row
            align="center"
            justify="center"
        >
            <v-col
                class="col-md-4 col-xs-12"
            >
                <v-row
                    justify="center"
                >
                    <img :src="logo" alt="logo" class="logo">
                </v-row>

                <v-row
                    justify="center"
                >
                    <h1> {{ title }} </h1>
                </v-row>

                <v-row
                    justify="center"
                >
                    <h2> {{ hintTitle }} </h2>
                </v-row>
            </v-col>
        </v-row>
        <input-with-button-component
                :input-value="hallIdentifier"
                :label-placeholder="labelPlaceholder"
                @change="onHallIdentifierChanged"
                @submit="enter"
        />
    </v-container>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from "vue-property-decorator";
    import InputWithButtonComponent from "@/Infrastructure/Components/Common/InputWithButtonComponent.vue";

    @Component({
        components: {InputWithButtonComponent}
    })
    export default class EnterHallComponent extends Vue {
        private hallIdentifier: string = ''
        @Prop() private title!: string;
        @Prop() private hintTitle!: string;
        @Prop() private logo!: string;

        get labelPlaceholder(): string {
            return 'Type room identifier';
        }

        onHallIdentifierChanged(hallIdentifier: string) {
            this.hallIdentifier = hallIdentifier
        }

        enter(): void {
            this.$emit('enter', this.hallIdentifier)
        }
    }
</script>

<style scoped lang="scss">
    @import "../../Assets/scss/main";

    h1 {
        font-size: 36px;
        color: $black;
        font-weight: 400;
    }

    h2 {
        font-size: 18px;
        color: $grey;
        font-weight: 400;
    }

    .logo {
        margin-bottom: 20px;
    }
</style>
