<template>
    <v-container fluid>
        <v-row>
            <h1>{{identifier}}</h1>
        </v-row>
        <room-card-component
                v-for="(room, roomIndex) in rooms"
                :key=roomIndex
                :room="room"
                @enter="onRoomEnter"
        />
    </v-container>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import RoomCardComponent from "@/Infrastructure/Components/Space/RoomCardComponent.vue";
    import Hall from "@/Domain/Space/Model/Hall";
    import Room from "@/Domain/Space/Model/Room";

    @Component({
        components: {RoomCardComponent}
    })
    export default class HallComponent extends Vue {
        @Prop() private hall!: Hall;

        get rooms(): Room[] {
            return this.hall?.rooms ?? []
        }

        get identifier(): string {
            return this.hall.identifier
        }

        onRoomEnter(room: Room): void {
            this.$emit('roomEnter', room)
        }
    }
</script>
