<template>
    <v-card fluid @click="enter">
        <v-card-title>{{name}}</v-card-title>
    </v-card>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import Hall from "@/Domain/Space/Model/Hall";

    @Component({})
    export default class HallCardComponent extends Vue {
        @Prop() private hall!: Hall;

        get identifier(): string {
            return this.hall.identifier
        }

        get name(): string {
            return this.hall.name
        }

        enter(): void {
            this.$emit('enter', this.hall)
        }
    }
</script>
