<template>
    <v-card fluid @click="enter">
        <v-card-title>{{name}}</v-card-title>
    </v-card>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import Room from "@/Domain/Space/Model/Room";

    @Component({})
    export default class RoomCardComponent extends Vue {
        @Prop() private room!: Room;

        get name(): string {
            return this.room.name
        }

        enter(): void {
            this.$emit('enter', this.room)
        }
    }
</script>
