<template>
    <v-container fluid>
        <h1>{{name}}</h1>

        <v-row v-for="content in contents" :key="content.id">
            <planning-poker-component
                    v-if="isPlanningPoker(content)"
                    :planning-poker="content"
                    @vote="onVote"
            />
            <you-tube-stream-component v-if="isYouTubeStream(content)" :you-tube-stream="content"/>
        </v-row>

        <v-card v-for="user in users" :key="user.id">
            {{user.id}}
        </v-card>
    </v-container>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import Room from "@/Domain/Space/Model/Room";
    import AbstractContent from "@/Domain/Content/Model/AbstractContent";
    import Participant from "@/Domain/Space/Model/Participant";
    import User from "@/Domain/User/Model/User";
    import PlanningPokerComponent from "@/Infrastructure/Components/Content/PlanningPokerComponent.vue";
    import YouTubeStreamComponent from "@/Infrastructure/Components/Content/YouTubeStreamComponent.vue";
    import PlanningPoker from "@/Domain/Content/Model/PlanningPoker";
    import YouTubeStream from "@/Domain/Content/Model/YouTubeStream";
    import {PlanningPokerCard} from "@/Domain/Content/Model/PlanningPokerCard";
    import PlanningPokerStory from "@/Domain/Content/Model/PlanningPokerStory";

    @Component({
        components: {
            PlanningPokerComponent,
            YouTubeStreamComponent
        }
    })
    export default class RoomComponent extends Vue {
        @Prop() private room!: Room;

        get name(): string {
            return this.room.name;
        }

        get contents(): AbstractContent[] {
            return this.room.contents;
        }

        isPlanningPoker(content: AbstractContent): boolean {
            return content instanceof PlanningPoker;
        }

        isYouTubeStream(content: AbstractContent): boolean {
            return content instanceof YouTubeStream;
        }

        get users(): User[] {
            return this.room.participants.filter((participant: Participant) => {
                return participant.user !== null;
            }).map((participant: Participant) => {
                return participant.user;
            }) as User[];
        }

        onVote(card: PlanningPokerCard, story: PlanningPokerStory): void
        {
            this.$emit('vote', card, story);
        }
    }
</script>
