<template>
    <v-btn
        :disabled="disabled"
        :loading="loading"
        :color="color"
        @click="onClick()"
    >
        <slot></slot>
    </v-btn>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from "vue-property-decorator";

    @Component
    export default class ButtonComponent extends Vue {
        private color = 'accent';
        @Prop({default: false}) private disabled!: boolean;
        @Prop({default: false}) private loading!: boolean;

        onClick() {
            this.$emit('click')
        }
    }
</script>

<style scoped>

</style>
