<template>
    <v-text-field
        :label="label"
        :value="value"
        @change="onChange"
        @submit="onSubmit"
    >
    </v-text-field>
</template>

<script lang="ts">
    import {Component, Vue, Prop} from "vue-property-decorator";

    @Component
    export default class InputComponent extends Vue {
    ​   @Prop() private label!: string;
    ​   @Prop() private value!: string;

        onChange(value: string): void {
            this.$emit('change', value)
        }

        onSubmit(): void {
            this.$emit('submit')
        }
    }
</script>

<style scoped>

</style>
