<template>
    <v-form @submit="onSubmit" justify="center">
        <v-container fluid>
            <v-row align="center" justify="center">
                <v-col class="col-md-4 col-xs-12">
                    <v-row justify="center">
                        <input-component
                                :label="labelPlaceholder"
                                :value="inputValue"
                                @change="onChange"
                        >
                        </input-component>

                        <button-component
                                depressed="true"
                                href="#"
                                color="accent"
                                @click="onClick"
                        >
                            <v-icon>fa-sign-in-alt</v-icon>
                        </button-component>

                    </v-row>
                </v-col>
            </v-row>
        </v-container>
    </v-form>
</template>

<script lang="ts">
    import ButtonComponent from "@/Infrastructure/Components/Common/ButtonComponent.vue";
    import InputComponent from "@/Infrastructure/Components/Common/InputComponent.vue";
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component({
        components: {
            InputComponent,
            ButtonComponent,
        }
    })
    export default class InputWithButtonComponent extends Vue {
        @Prop() private labelPlaceholder!: string;
        @Prop() private inputValue!: string;

        onClick(): void {
            this.$emit('click')
            this.$emit('submit')
        }

        onChange(inputValue: string): void {
            this.$emit('change', inputValue)
        }

        onSubmit(event: Event): void {
            event.preventDefault()
            this.$emit('submit')
        }
    }
</script>

<style scoped>

</style>
