<template>
    <v-container fluid>
        {{name}}
    </v-container>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import PlanningPokerStory from "@/Domain/Content/Model/PlanningPokerStory";

    @Component({})
    export default class PlanningPokerStoryComponent extends Vue {
        @Prop() private story!: PlanningPokerStory;

        get name(): string {
            return this.story.name;
        }
    }
</script>
