<template>
    <v-container fluid>
        <v-row>
            <v-col cols="9">
                <div v-if="activeStory !== null">
                    <h2>{{activeStory.name}}</h2>
                    <v-card v-for="(card, cardKey) in cards" :key="cardKey" @click="() => {vote(card)}">
                        <v-card-title>{{card}}</v-card-title>
                    </v-card>
                </div>
            </v-col>
            <v-col cols="3">
                <h2>Players</h2>
                <v-card v-for="(player, playerKey) in players" :key="playerKey">
                    {{player.user.id}}
                    <span v-if="(playerVote = getPlayerVoteInActiveStory(player)) !== null">{{playerVote.card}}</span>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12">
                <v-tabs>
                    <v-tab>
                        Backlog
                    </v-tab>
                    <v-tab>
                        Completed
                    </v-tab>
                    <v-tab-item>
                        <v-card v-for="(story, storyKey) in backlogStories" :key="storyKey">
                            <planning-poker-story-component :story="story"/>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item>
                        <v-card v-for="(story, storyKey) in completedStories" :key="storyKey">
                            <planning-poker-story-component :story="story"/>
                        </v-card>
                    </v-tab-item>
                </v-tabs>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import PlanningPoker from "@/Domain/Content/Model/PlanningPoker";
    import {PlanningPokerCard} from "@/Domain/Content/Model/PlanningPokerCard";
    import PlanningPokerStory from "@/Domain/Content/Model/PlanningPokerStory";
    import PlanningPokerStoryComponent from "@/Infrastructure/Components/Content/PlanningPokerStoryComponent.vue";
    import PlanningPokerPlayer from "@/Domain/Content/Model/PlanningPokerPlayer";
    import PlanningPokerStoryVote from "@/Domain/Content/Model/PlanningPokerStoryVote";

    @Component({
        components: {PlanningPokerStoryComponent}
    })
    export default class PlanningPokerComponent extends Vue {
        @Prop() private planningPoker!: PlanningPoker;

        get id(): string {
            return this.planningPoker.id;
        }

        get cards(): PlanningPokerCard[] {
            return this.planningPoker.cards;
        }

        get players(): PlanningPokerPlayer[] {
            return this.planningPoker.players;
        }

        get activeStory(): PlanningPokerStory | null {
            return this.planningPoker.activeStory;
        }

        get backlogStories(): PlanningPokerStory[] {
            return this.planningPoker.backlogStories;
        }

        get completedStories(): PlanningPokerStory[] {
            return this.planningPoker.completedStories;
        }

        getPlayerVoteInActiveStory(player: PlanningPokerPlayer): PlanningPokerStoryVote | null {
            const votes = this.activeStory?.votes.filter((vote: PlanningPokerStoryVote) => {
                return vote.user.equals(player.user);
            });

            return votes?.shift() ?? null;
        }

        vote(card: PlanningPokerCard): void {
            this.$emit('vote', card, this.activeStory);
        }
    }
</script>
