<template>
    <v-container fluid>
        <h2>{{link}}</h2>
    </v-container>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import YouTubeStream from "@/Domain/Content/Model/YouTubeStream";

    @Component({})
    export default class YouTubeStreamComponent extends Vue {
        @Prop() private youTubeStream!: YouTubeStream;

        get id(): string {
            return this.youTubeStream.id;
        }

        get link(): string {
            return this.youTubeStream.link;
        }
    }
</script>
