* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	outline: none;
	&:focus, &:active {
		outline: none;		
	}
}

*::-webkit-input-placeholder{
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	opacity: 1;
	background-color: #fff;
}