<template>
    <layout>

        <p> {{ title }} </p>

    </layout>
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Vue} from "vue-property-decorator";
    import Layout from "@/Infrastructure/Layouts/Layout.vue";
    import HandleAuthCallback from "@/Infrastructure/Store/Actions/HandleAuthCallback";

    @Component({
        components: {
            Layout,
        },
        mounted: function () {
            this.$store.dispatch(HandleAuthCallback.name)
        }
    })
    export default class AuthCallbackPage extends Vue {
        private title: string = 'Handling auth...';
    }
</script>
