<template>
    <layout>
        <v-container>

            <v-row
                align="center"
                justify="center"
            >
                <enter-hall-component
                    :logo="logo"
                    :title="title"
                    :hint-title="hintTitle"
                >
                </enter-hall-component>

                <v-col>
                    <v-row
                        align="center"
                        justify="center"
                    >
                        <v-col
                            class="col-md-4 col-xs-12"
                        >
                            <button-component
                                :disabled="false"
                                :loading="false"
                                @click="login()"
                            >
                                <v-icon>fa-sign-in-alt</v-icon>
                            </button-component>
                        </v-col>
                    </v-row>

                    <div class="guest-join" v-if="guestJoinAvailable">
                        <v-row
                            align="center"
                            justify="center"
                        >
                            <v-col
                                class="col-md-4 col-xs-12"
                            >
                                <a href="#">{{guestJoinTitle}}</a>
                            </v-col>
                        </v-row>
                    </div>
                </v-col>

            </v-row>

        </v-container>
    </layout>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import EnterHallComponent from "@/Infrastructure/Components/Space/EnterHallComponent.vue";
    import Layout from "@/Infrastructure/Layouts/Layout.vue";
    import InputWithButtonComponent from "@/Infrastructure/Components/Common/InputWithButtonComponent.vue";
    import ButtonComponent from "@/Infrastructure/Components/Common/ButtonComponent.vue";
    import LoginWithRedirect from "@/Infrastructure/Store/Actions/LoginWithRedirect";

    @Component({
        components: {
            ButtonComponent,
            InputWithButtonComponent,
            Layout,
            EnterHallComponent,
        },
    })
    export default class AuthPage extends Vue {

        get logo(): string {
            //todo: remove require
            return require('@/Infrastructure/Assets/logo-mng.png');
        }

        get title(): string {
            return 'Joining to event-code';
        }

        get hintTitle(): string {
            return 'Auth to continue';
        }

        get guestJoinTitle(): string {
            return 'Join as guest?';
        }

        get guestJoinAvailable(): boolean {
            return true; //todo: implement from event settings
        }

        login() {
            this.$store.dispatch(LoginWithRedirect.name);
        }
    }
</script>

<style scoped lang="scss">
    @import "../Assets/scss/main";

    a {
        font-weight: 700;
        font-size: 24px;
        color: $black;
        text-decoration: none;
        display: block;
        text-align: center;
    }
</style>
