<template>
    <layout>
        <v-container>
            <v-row align="center" justify="center">
                <enter-hall-component
                        :logo="logo"
                        :title="title"
                        @enter="enterHall"
                />
            </v-row>
        </v-container>
    </layout>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import EnterHallComponent from "@/Infrastructure/Components/Space/EnterHallComponent.vue";
    import Layout from "@/Infrastructure/Layouts/Layout.vue";
    import InputWithButtonComponent from "@/Infrastructure/Components/Common/InputWithButtonComponent.vue";
    import router from "@/Infrastructure/Router/Router";

    @Component({
        components: {
            InputWithButtonComponent,
            Layout,
            EnterHallComponent,
        },
    })
    export default class EnterHallPage extends Vue {
        get logo(): string {
            return require('@/Infrastructure/Assets/logo-mng.png')
        }

        get title(): string {
            return 'Enter hall';
        }

        enterHall(hallIdentifier: string): void {
            if (!hallIdentifier) {
                return
            }

            router.push({name: 'hall-page', params: {hallIdentifier: hallIdentifier}})
        }
    }
</script>
