<template>
    <layout>
        <v-container>
            <hall-component
                    v-if="hall !== null"
                    :hall="hall"
                    @roomEnter="onRoomEnter"
            />
        </v-container>
    </layout>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import Layout from "@/Infrastructure/Layouts/Layout.vue";
    import LoadHall from "@/Infrastructure/Store/Actions/Hall/LoadHall";
    import Hall from "@/Domain/Space/Model/Hall";
    import HallComponent from "@/Infrastructure/Components/Space/HallComponent.vue";
    import Room from "@/Domain/Space/Model/Room";
    import router from "@/Infrastructure/Router/Router";
    import {Mutations} from "@/Infrastructure/Store/Mutations";

    @Component({
        components: {
            HallComponent,
            Layout,
        },
    })
    export default class HallPage extends Vue {
        mounted() {
            if (this.$store.getters.hall?.identifier === this.$route.params.hallIdentifier) {
                return;
            }

            this.$store.commit(Mutations.hallUpdated, null);
            this.$store.dispatch(LoadHall.name, this.$route.params.hallIdentifier);
        }

        get hall(): Hall | null {
            return this.$store.getters.hall ?? null
        }

        onRoomEnter(room: Room): void {
            this.$store.commit(Mutations.roomUpdated, room)

            router.push({name: 'room-page', params: {roomId: room.id}})
        }
    }
</script>
