<template>
    <layout>

    </layout>
</template>

<script lang="ts">
    import "reflect-metadata";
    import {Component, Vue} from "vue-property-decorator";
    import Layout from "@/Infrastructure/Layouts/Layout.vue";

    @Component({
        components: {
            Layout,
        },
    })
    export default class MainPage extends Vue {

    }
</script>
