<template>
    <layout>
        <v-container>
            <h1>Profile</h1>
            <h2>Halls managed by me</h2>
            <hall-card-component
                    v-for="(hall, hallIndex) in managedHalls"
                    :key=hallIndex
                    :hall="hall"
                    @enter="onHallEnter"
            />
            <h2>Create new hall</h2>
            <create-hall-component
                    :create-hall-payload="createHallPayload"
                    @create="onHallCreate"
            />
        </v-container>
    </layout>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import Layout from "@/Infrastructure/Layouts/Layout.vue";
    import CreateHallComponent from "@/Infrastructure/Components/Space/CreateHallComponent.vue";
    import CreateHallPayload from "@/Domain/Space/Payload/CreateHallPayload";
    import CreateHall from "@/Infrastructure/Store/Actions/Hall/CreateHall";
    import LoadManagedHalls from "@/Infrastructure/Store/Actions/ManagedHalls/LoadManagedHalls";
    import Hall from "@/Domain/Space/Model/Hall";
    import HallCardComponent from "@/Infrastructure/Components/Space/HallCardComponent.vue";
    import router from "@/Infrastructure/Router/Router";
    import {Mutations} from "@/Infrastructure/Store/Mutations";

    @Component({
        components: {
            HallCardComponent,
            CreateHallComponent,
            Layout,
        },
    })
    export default class ProfilePage extends Vue {
        mounted(): void {
            this.$store.dispatch(LoadManagedHalls.name);
        }

        get managedHalls(): Hall[] {
            return this.$store.getters.managedHalls;
        }

        get createHallPayload(): CreateHallPayload {
            return new CreateHallPayload();
        }

        get accessToken(): string {
            return this.$store.getters.accessToken;
        }

        get me(): string {
            return JSON.stringify(this.$store.getters.user ?? '{}');
        }

        async onHallEnter(hall: Hall) {
            await this.$store.commit(Mutations.hallUpdated, hall);

            await router.push({name: 'hall-page', params: {hallIdentifier: hall.identifier}});
        }

        async onHallCreate(payload: CreateHallPayload) {
            await this.$store.dispatch(CreateHall.name, payload);
            await router.push({name: 'hall-page', params: {hallIdentifier: payload.identifier}});
        }
    }
</script>
