<template>
    <layout>
        <v-container>
            <room-component
                    v-if="room !== null"
                    :room="room"
                    @vote="onVote"
            />
        </v-container>
    </layout>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import Layout from "@/Infrastructure/Layouts/Layout.vue";
    import HallComponent from "@/Infrastructure/Components/Space/HallComponent.vue";
    import Room from "@/Domain/Space/Model/Room";
    import LoadRoom from "@/Infrastructure/Store/Actions/Room/LoadRoom";
    import RoomComponent from "@/Infrastructure/Components/Space/RoomComponent.vue";
    import {Mutations} from "@/Infrastructure/Store/Mutations";
    import {PlanningPokerCard} from "@/Domain/Content/Model/PlanningPokerCard";
    import PlanningPokerStory from "@/Domain/Content/Model/PlanningPokerStory";
    import AddPlanningPokerStoryVote from "@/Infrastructure/Store/Actions/Room/AddPlanningPokerStoryVote";
    import AddPlanningPokerStoryVotePayload from "@/Infrastructure/Store/Actions/Room/AddPlanningPokerStoryVotePayload";

    @Component({
        components: {
            RoomComponent,
            HallComponent,
            Layout,
        },
    })
    export default class RoomPage extends Vue {
        mounted(): void {
            if (this.isRoomMatchToRoute
                && this.$store.getters.room?.hasUser(this.$store.getters.user)
            ) {
                return;
            }

            if (!this.isRoomMatchToRoute) {
                this.resetRoom();
            }

            this.$store.dispatch(LoadRoom.name, this.$route.params.roomId);
        }

        get room(): Room | null {
            return this.$store.getters.room ?? null
        }

        get isRoomMatchToRoute(): boolean {
            return this.$store.getters.room?.id === this.$route.params.roomId
        }

        resetRoom(): void {
            this.$store.commit(Mutations.roomUpdated, null)
        }

        onVote(card: PlanningPokerCard, story: PlanningPokerStory): void {
            this.$store.dispatch(AddPlanningPokerStoryVote.name, new AddPlanningPokerStoryVotePayload(
                this.room!,
                this.room!.findPlanningPoker()!,
                story,
                card
            ));
        }
    }
</script>
