<template>
    <v-app>
        <slot></slot>
    </v-app>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";

    @Component
    export default class Layout extends Vue {

    }
</script>

<style lang="scss">
    @import "../Assets/scss/main";
</style>
